.header {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;


}
.header-header {
    background: linear-gradient(135deg, #0071ff, #dcc6ff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header-button {
    margin: 0 10px 0 10px;
    cursor: pointer;
    display: none;
    color: #656565;
}
.header-button:hover {
    border: 0 solid white;
    border-radius: 5px;
    background: rgba(0,0,0,0.1);
    color: black;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 10px 20px 10px;


}
.header-fill {
    width: 56px;
    display: none;
}
.header-title {
    text-align: center;
    font-family: "Microsoft YaHei", serif;
    color: white;
    font-size: 20px;
    width: 100%;
    margin-bottom: 15px;
}
.header-img-container {
    border: 1px solid white;
    padding: 2px;
    width: 125px;
    height: 120px;
}
.header-img {
    width: 125px;
    height: 120px;
    background-color: white;
}
.header-name {
    color: white;
    text-align: center;
}
.header-intorduction {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Microsoft YaHei", serif;
    color: white;
    font-size: 12px;
    width: 100%;
}
.open {
    width: 32px;
    opacity: 1;
}
.closed {
    width: 0;
    opacity: 0;
}
svg {
    transition: all 0.3s ease;
}

@media (max-width: 1000px) {
    .header {
        width: 100%;
        min-width: 240px;
        margin: 0;
    }

    .header-button {
        display: flex;
    }

    .header-fill {
        display: flex;
    }
}
.header-footer {
    width: 100%;
    height: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition-duration: 0.3s;
    border: 1px solid white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.header-footer.show {
    height: 320px;
}
.header-footer-item {
    display: flex;
    align-items: center;
    width: 100%;
    background: white;
    height: 26px;
    padding: 5px 20px 5px 20px;
}
.header-footer-item:hover {
    background: #F5F5F5;
}
.header-footer-item-svg {
    height: 16px;
    margin-right: 10px;
}
